
#foreach ( $entry in $entries )
    $entry.name : $entry.comment</br>
#end

<form method="POST" command="form">

    <p>

        #springBind("form.name")#springShowErrors("<br/>", "text-danger")
        Name: #springFormInput("form.name")

        </br>

        #springBind("form.comment")#springShowErrors("<br/>", "text-danger")
        Comment: #springFormInput("form.comment")

        <input type="submit"/>

    </p>

</form>
